{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
 
    <link rel="stylesheet" href="{% static 'iventory/css/bootstrap.min.css' %}"  type="text/css" />
    <link  rel="stylesheet" href="{% static 'iventory/css/style.css' %}" type="text/css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>  {% block title%} {% endblock title %}</title>

  </head>
  <body>

    {% block content %}


{% endblock content %}
  </body>

</html>